---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import RoundCTA from "../components/roundCTA.astro";
import SquareCTA from "../components/SquareCTA.astro";
import Amount from "../components/amount.astro";
---

<Layout>
  <header>
    <Menu />
    <img class="heroimg" src="/img/heroimg.png" alt="Hero Image" />
    <RoundCTA ctaText="Læs mere" ctaLink="/shopcoffee" />

    <main></main>
    <footer>
      <Footer />
    </footer>

    <style>
      .heroimg {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }

      @media (min-width: 768px) {
        .heroimg {
          height: auto;
        }
      }
    </style>
  </header></Layout
>
