---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import RoundCTA from "../components/roundCTA.astro";
---

<Layout>
  <header>
    <Menu />
    <img class="heroimg" src="/img/heroimg.png" alt="Hero Image" />
    <a href="/singleproduct" class="quick-link">Go to Single Product</a>
    <RoundCTA ctaText="Læs mere" ctaLink="/shopcoffee" />
  </header>
  <main></main>
  <footer>
    <Footer />
  </footer>
</Layout>

<style>
  .heroimg {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  @media (min-width: 768px) {
    .heroimg {
      height: auto;
    }
  }
</style>
