---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import SubpageHero from "../components/subpagehero.astro";
---

<Layout>
  <header>
    <Menu />
  </header>
  <main>
    <main>
      <SubpageHero
        src="/img/koebkaffe.webp"
        alt="Køb kaffe hero sektion"
        header="Køb kaffe"
      />
    </main>
    <footer>
      <Footer />
    </footer>
  </main>
</Layout>
