---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import SubpageHero from "../components/subpagehero.astro";
import Category from "../components/category.astro";
---

<Layout>
  <header>
    <Menu />
  </header>

  <main>
    <SubpageHero src="/img/koebkaffe.webp" alt="Køb kaffe hero sektion" header="Køb kaffe" />
    <Category category="Lysristet" />
    <p>Vores lysristede bønner er opdelt i 3 forskellige farver, den grønne varierer i smag og navn, alt efter hvilke bønner vi får sendt fra farmene. kaffen er velegent til pourover eller filterkaffe.</p>
    <Category category="Mellemristet" />
    <p>Vores mellemristede bønner er kendetegnet ved den røde farve og er velegnet til filterkaffe.</p>
    <Category category="Mørkristet" />
    <p>Vores mørkristede bønner har en dyb og rund smag, og er den bønne vi rister i længst tid. kaffen er velegnet til espresso.</p>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
