---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Footer from "../components/footer.astro";
import SubpageHero from "../components/subpagehero.astro";
---

<Layout>
  <header>
    <Menu />
    <SubpageHero
      src="/img/erhverv.webp"
      alt="Erhverv hero sektion"
      header="Erhverv"
    />
  </header>
  <main></main>
  <footer>
    <Footer />
  </footer>
</Layout>
