---
import Layout from "../layouts/Layout.astro";
import Productcard from "./productcard.astro";
const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqaW9pbG52bW1ha3lvY3FhdXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4OTk5MzAsImV4cCI6MjA2MzQ3NTkzMH0.lJHBOdRj_eDmkVncIRtyW1Ty8UleaWHyYMXT0tNxPhs";
const curl =
  "https://xjioilnvmmakyocqauwh.supabase.co/rest/v1/Products?select=*";

const options = {
  headers: { apikey: apikey },
};

const data = await fetch(curl, options).then((res) => res.json());
---

<Layout>
  <div class="slider">
    {data.map((product) => <Productcard Products={product} />)}
  </div>
</Layout>

<style>
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .slider > * {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
</style>
