---
const { ctaText } = Astro.props;
const { ctaLink } = Astro.props;
---

<a href={ctaLink} class="icontext">
  {ctaText}
</a>

<style>
  a {
    padding: 9px 15px;
    border-radius: 30px;
    background-color: var(--green-color);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 13px;
  }

  a:hover {
    background-color: Var(--yellow-color);
  }

  @media (min-width: 768px) {
    a {
      padding: 7px 25px;
      font-size: 18px;
    }
  }
</style>
