---
import "../styles/generel.css";
---

<head>
  <html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/img/icons/logo.ico" type="image/x-icon" />
    <title>Yellow Bird Coffee</title>
  </html>
</head>

<slot />

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
